/*Cabezera*/

.cabecero-contenedor, .nota {
  box-shadow: 0 5px 10px #aaa;
}

.titulo {
  float: left;
}

nav {
  display: flex;
  justify-content: center;
}

/*-----------------------------------------------------------------------------*/

/*Contenido*/

.principal article {
  float: left;
  width: 57%;
}

.nota {
  width: 30%;
  float: right;
  margin: 0 auto;
  padding: 10px;
}

#one-column-emphasis {
  margin-left: 250px;
  margin-right: 250px;
  width: 500px;
  text-align: left;
  border-collapse: collapse;
}

.principal aside.foto_perfil {
  float: right;
  width: auto;
}

/*-----------------------------------------------------------------------------*/