html {
  min-height: 100%;
}

body {
  margin: 0;
  font: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*Cabezera*/

.contenedor {
  margin: 0 5%;
  position: relative;
}

.cabecero-contenedor, .pie-pagina-contenedor, .nota {
  background: brown;
}

.titulo {
  color: white;
}

nav li {
  margin: 0 auto;
}

nav ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin-top: 25px;
  list-style: none;
  list-style-image: none;
}

nav a:hover, nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
  background: #c91e1e;
}

nav a {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 25px 20%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: firebrick;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.limpiar::before, .limpiar::after {
  content: "";
  display: table;
}

.limpiar::after {
  clear: both;
}

.volver ul {
  width: 50%;
  margin-left: auto;
}

/*----------------------------------------------------------------------------------------------*/

/*Contenido*/

.principal {
  padding: 30px 0;
}

.principal article h1 {
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.principal aside {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*-----------------------------------------------------------------------------------------------*/

/*Formulario*/

#one-column-emphasis {
  margin: 50px;
  width: 500px;
  text-align: center;
  border-collapse: collapse;
}

#one-column-emphasis caption {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
  color: brown;
}

#one-column-emphasis td {
  padding: 10px 15px;
  color: brown;
  border-top: 1px solid #e8edff;
  font-weight: bold;
}

#one-column-emphasis th {
  font-size: 15px;
  font-weight: normal;
  padding: 12px 15px;
  color: #d17575;
}

.oce-first {
  background: #d17575;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

#submit {
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  background: firebrick;
  border-radius: 10px;
}

#submit:hover {
  background: #c91e1e;
}

/*------------------------------------------------------------------------------------------------*/

/*Pie de pagina*/

.pie-pagina-contenedor footer {
  color: white;
  padding: 2% 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.pie-pagina-contenedor {
  margin-bottom: 0;
}

.Redes {
  display: inline-block;
  margin-left: 1%;
}