html {
  min-height: 100%;
}

body {
  margin: 0;
  font-size: 1.2em;
  font-family: "Raleway", "Times New Roman", Times, serif;
}

/*Cabezera*/

.contenedor {
  margin: 0 5%;
  position: relative;
}

.cabecero-contenedor, .pie-pagina-contenedor, .nota {
  background: #5ebad6;
}

.titulo {
  color: white;
}

.subtitulo {
  color: #0086d6;
}

nav li {
  margin: 0 auto;
}

nav ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin-top: 25px;
  list-style: none;
  list-style-image: none;
}

nav a:visited {
  color: white;
}

@keyframes changenav {
  from {
    background: #0086d6;
    color: white;
  }
  to {
    background: white;
    color: #0086d6;
  }
}

nav a:hover {
  animation: changenav 2s linear 1 normal forwards;
}

nav a {
  display: flex;
  width: 100%;
  padding: 25px 20%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  background: #0086d6;
  font-family: "Raleway", "Times New Roman", Times, serif;
}

.limpiar::before, .limpiar::after {
  content: "";
  display: table;
}

.limpiar::after {
  clear: both;
}

.volver li a {
  display: inline-block;
}

/*----------------------------------------------------------------------------------------------*/

/*Contenido*/

.principal {
  padding: 30px 0;
}

.principal article h1 {
  font-size: 2em;
  font-family: "Raleway", "Times New Roman", Times, serif;
}

.nota {
  color: white;
  border-radius: 10px;
  font-family: "Raleway", "Times New Roman", Times, serif;
}

/*-----------------------------------------------------------------------------------------------*/

/*Formulario*/

.form {
  display: flex;
  margin: 0 auto;
  width: 50%;
}

.one-column-emphasis {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.one-column-emphasis caption {
  font-size: 20px;
  text-align: center;
  margin-bottom: 2%;
  color: #0086d6;
}

.one-column-emphasis td {
  padding: 2.2% 3%;
  color: #0086d6;
  border-top: 1px solid #e8edff;
  font-weight: bold;
}

.one-column-emphasis th {
  font-size: 1.2em;
  font-weight: normal;
  padding: 2% 3%;
  color: #0086d6;
}

.oce-first {
  background: #b8d7ef;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.submit {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  background: #0086d6;
  border-radius: 10px;
}

.submit:hover {
  transition: 0.6s;
  background: white;
  color: #0086d6;
}

/*-------------------------------------------------------------------------------------------------*/

/*Ubicacion*/

.articulo {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

/*------------------------------------------------------------------------------------------------*/

/*Pie de pagina*/

.pie-pagina-contenedor footer {
  color: white;
  padding: 2% 0;
  font-family: "Raleway", "Times New Roman", Times, serif;
}

.pie-pagina-contenedor {
  margin-bottom: 0;
}

.Redes {
  display: flex;
  font-size: 1.5em;
  text-decoration: none;
}

.Redes div {
  margin-left: 1%;
  border: 2px solid white;
  border-radius: 50%;
  padding: 1%;
}

.Redes a {
  color: white;
}

@keyframes changeicons {
  from {
    background: #5ebad6;
  }
  to {
    background: white;
  }
}

.Redes div:hover {
  animation: changeicons 2s linear 1 normal forwards;
}

.Redes a:hover {
  color: #5ebad6;
}