/*Barra de navegacion*/

nav a {
  margin: 0 0 4% 0;
  width: auto;
  justify-content: center;
}

nav ul {
  flex-direction: column;
  flex-wrap: wrap;
}

nav li {
  width: 100%;
}

.volver li {
  width: auto;
}

.contenedor {
  margin: 0;
  padding: 2%;
}

/*------------------------------------------------------*/

/*Titulo principal*/

.titulo {
  text-align: center;
}

/*------------------------------------------------------*/

/*Noticias*/

.noticias {
  padding: 5px 5px 5px 10px;
}

/*------------------------------------------------------*/

/*Pie de Pagina*/

footer {
  text-align: center;
}

.Redes {
  justify-content: space-around;
}

.Redes div {
  padding: 2%;
}

/*------------------------------------------------------*/

/*Foto de perfil "Sobre mi"*/

aside.nota, .foto_perfil {
  display: none;
}

/*------------------------------------------------------*/

/*Formulario*/

.form {
  justify-content: center;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}