/*Barra de navegacion*/
.principal aside {
  padding: 5px 5px 5px 10px;
}

nav a {
  margin: 0 0 10px 0;
  padding: 15px 0;
  width: 100%;
}
.titulo {
  text-align: center;
}

.volver {
  padding: 5px 5px 5px 10px;
}
/*----------------------------------------------------*/

/*Foto de perfil "Sobre mi"*/
aside {
  width: 300px;
  margin: 0 auto;
}

aside.foto_perfil {
  padding: 15px;
}

/*------------------------------------------------------*/

/*Formulario*/

#one-column-emphasis {
  margin: 0;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
