/*Barra de navegacion*/
.principal aside {
  padding: 5px 5px 5px 10px;
}

nav a {
  margin: 0 0 10px 0;
  padding: 15px 0;
  width: 100%;
}
.volver {
  padding: 5px 5px 5px 10px;
}

.titulo {
  text-align: center;
}

/*----------------------------------------------------*/

/*Foto de perfil "Sobre mi"*/

aside.foto_perfil {
  width: auto;
  float: right;
  padding: 15px;
}

/*------------------------------------------------------*/

/*Formulario*/

#one-column-emphasis {
  margin: 0;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
